anyio==3.3.0
appdirs==1.4.4       
argon2-cffi==20.1.0  
asgiref==3.4.1       
async-generator==1.10
attrs==21.2.0        
Babel==2.9.1
backcall==0.2.0      
beautifulsoup4==4.9.3
black==21.6b0
bleach==3.3.1
bs4==0.0.1
ccm==3.1.5
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
Corpora==1.0
courlan==0.4.2
cssselect==1.1.0
cycler==0.10.0
dateparser==1.0.0
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
Django==3.2.5
entrypoints==0.3
et-xmlfile==1.1.0
gunicorn==20.1.0
htmldate==0.9.0
idna==3.2
ipykernel==6.0.3
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.10.1
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.1
jupyterlab-widgets==1.0.0
jusText==2.2.0
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
mypy-extensions==0.4.3
mysql-connector-python==8.0.26
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.2
notebook==6.4.0
numpy==1.21.1
openpyxl==3.0.7
packaging==21.0
pandas==1.3.1
pandocfilters==1.4.3
parso==0.8.2
pathspec==0.8.1
pickleshare==0.7.5
Pillow==8.3.1
plyer==2.0.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.1
pywin32==301
pywinpty==1.1.3
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
readability-lxml==0.8.1
regex==2021.4.4
requests==2.26.0
requests-unixsocket==0.2.0
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.1
Send2Trash==1.7.1
six==1.16.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.2.1
sqlparse==0.4.1
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.2.0
tld==0.12.6
toml==0.10.2
tornado==6.1
tqdm==4.61.2
trafilatura==0.9.1
traitlets==5.0.5
tzlocal==2.1
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
whitenoise==5.3.0
widgetsnbextension==3.5.1
xlrd==2.0.1
xlutils==2.0.0
xlwt==1.3.0
